<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,160}</string>
                <key>spriteSourceSize</key>
                <string>{161,160}</string>
                <key>textureRect</key>
                <string>{{0,0},{161,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,160}</string>
                <key>spriteSourceSize</key>
                <string>{161,160}</string>
                <key>textureRect</key>
                <string>{{161,0},{161,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,160}</string>
                <key>spriteSourceSize</key>
                <string>{161,160}</string>
                <key>textureRect</key>
                <string>{{322,0},{161,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{483,160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fc42044a5bbdb2274c9a98344f201a3:4c7348b8a9a1e5a81ad5ca5ad7f01d7e:240848ad97db3b21fd898f16a7d3102d$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
