<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_book.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,114}</string>
                <key>spriteSourceSize</key>
                <string>{348,114}</string>
                <key>textureRect</key>
                <string>{{0,0},{348,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,37}</string>
                <key>spriteSourceSize</key>
                <string>{84,37}</string>
                <key>textureRect</key>
                <string>{{348,0},{84,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,114}</string>
                <key>spriteSourceSize</key>
                <string>{348,114}</string>
                <key>textureRect</key>
                <string>{{432,0},{348,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,37}</string>
                <key>spriteSourceSize</key>
                <string>{104,37}</string>
                <key>textureRect</key>
                <string>{{780,0},{104,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>start.png</string>
            <key>size</key>
            <string>{884,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d106db63d34461b74dc9b13660e9a54a:98dd74f071bea1df79bde5f7be1020c3:8515f24a45383d6b4899a9e5fc8d6fdf$</string>
            <key>textureFileName</key>
            <string>start.png</string>
        </dict>
    </dict>
</plist>
