<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{60,0},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>小怪.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{120,0},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{180,0},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{240,0},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{300,0},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{360,0},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>暗红色线条.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,26}</string>
                <key>spriteSourceSize</key>
                <string>{3,26}</string>
                <key>textureRect</key>
                <string>{{420,0},{3,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>炸弹 灰色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{423,0},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>炸弹.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{483,0},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>点开.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{543,0},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>红色线条.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,26}</string>
                <key>spriteSourceSize</key>
                <string>{8,26}</string>
                <key>textureRect</key>
                <string>{{603,0},{8,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>蓝色线条.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,26}</string>
                <key>spriteSourceSize</key>
                <string>{11,26}</string>
                <key>textureRect</key>
                <string>{{611,0},{11,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tile_type.png</string>
            <key>size</key>
            <string>{622,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d46fcf72deb1ab38e91826dded9ff1f5:2b2450ac65769a2e5aeaa6a0631198a2:4794a12f2d027317b65d71b88f7773bc$</string>
            <key>textureFileName</key>
            <string>tile_type.png</string>
        </dict>
    </dict>
</plist>
