<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,371}</string>
                <key>spriteSourceSize</key>
                <string>{119,371}</string>
                <key>textureRect</key>
                <string>{{0,371},{119,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,369}</string>
                <key>spriteSourceSize</key>
                <string>{120,369}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,480}</string>
                <key>spriteSourceSize</key>
                <string>{119,480}</string>
                <key>textureRect</key>
                <string>{{120,1174},{119,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,465}</string>
                <key>spriteSourceSize</key>
                <string>{120,465}</string>
                <key>textureRect</key>
                <string>{{0,1174},{120,465}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,371}</string>
                <key>spriteSourceSize</key>
                <string>{119,371}</string>
                <key>textureRect</key>
                <string>{{120,0},{119,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,404}</string>
                <key>spriteSourceSize</key>
                <string>{119,404}</string>
                <key>textureRect</key>
                <string>{{0,765},{119,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,409}</string>
                <key>spriteSourceSize</key>
                <string>{119,409}</string>
                <key>textureRect</key>
                <string>{{119,765},{119,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,394}</string>
                <key>spriteSourceSize</key>
                <string>{119,394}</string>
                <key>textureRect</key>
                <string>{{119,371},{119,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>title.png</string>
            <key>size</key>
            <string>{239,1654}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e4746dba47484b38f44e75f2dbc71f3:251532c5d1762a6343425518a1fa363d:eac3319ae54fe6d043150c971d4e6759$</string>
            <key>textureFileName</key>
            <string>title.png</string>
        </dict>
    </dict>
</plist>
